VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_DB_URL=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
LOCAL_FACEID_REPORT_PATH=
LOCAL_AA_BLE_REPORT_PATH=
